* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
*/

.main {
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-background.png);
}

.main .main-navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.main .main-navbar .main-navbar-logo .dog-food-img{
    width: 14rem;
}

.main .main-navbar .main-navbar-menu ul {
    display: inline-flex;    
    
}

.main .main-navbar .main-navbar-menu a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 3rem;
}

/*----------------------------------------*/

.main .main-information {
    display: flex;
    padding-bottom: 26.2rem;
}

.main .main-information .main-information-food .main-information-food-img {
    width: 30rem;
    position: absolute;
    top: 9.375rem;
}

.main .main-information .main-information-slogan h1 {
    position: absolute;
    right: 32.5rem;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: #4C3135;
    width: 17rem;
}

.main .main-information .main-information-slogan span {
    color: #016BA5;
    font-weight: bold;
}

.main .main-information .main-information-slogan .main-information-slogan-idea-1 {
    position: absolute;
    transform: rotate(330deg);
    right: 29rem;
    top: 11rem;
}

.main .main-information .main-information-slogan .main-information-slogan-idea-1 .main-information-slogan-img-1 {
    width: 23.75rem;
}

.main .main-information .main-information-slogan .main-information-slogan-idea-2 {
    position: absolute;
    transform: rotate(360deg);
    top: 15rem;
    right: 24.5rem;
}

.main .main-information .main-information-slogan .main-information-slogan-idea-2 .main-information-slogan-img-2 {
    width: 31rem;
}

.main .main-information .main-information-slogan .main-information-slogan-idea-3 {
    position: absolute;
    top: 17.5rem;
    right: 33rem;
    width: 16rem;
    transform: rotate(350deg);
}

.main .main-information .main-information-slogan .main-information-slogan-idea-3 h2 {
    font-family: 'Amatic SC', cursive;
    color: #016BA5;
    font-size: 3.7rem;
    text-align: center;
    font-weight: 700;
    line-height: 3.4rem;
}

.main .main-information .main-information-dog .main-information-dog-img {
    position: absolute;
    right: -2.8rem;
    bottom: 7rem;
    width: 26rem;
}




