* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper .main {
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-background.png);
    width: 100vw;
}

.wrapper .main .main-navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.wrapper .main .main-navbar .main-navbar-logo .dog-food-img {
    width: 14rem;
}

.wrapper .main .main-navbar .main-navbar-menu ul {
    display: inline-flex;

}

.wrapper .main .main-navbar .main-navbar-menu a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 3rem;
}

.wrapper .main .main-navbar .main-navbar-menu a:hover {
    color: rgb(216, 216, 216);
}

/*--------------------------------------*/

.wrapper .food-dog .food-dog-img {
    width: 30rem;
    position: absolute;
    top: 9.375rem;
}

/*----------------------------------------*/

.wrapper .main .main-information {
    padding: 1rem 0 25.7rem 0;
    position: relative;
    overflow: hidden;
}

.wrapper .main .main-information .main-information-slogan h1 {
    position: absolute;
    right: 32.5rem;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: #4C3135;
    width: 17rem;
}

.wrapper .main .main-information .main-information-slogan span {
    color: #016BA5;
    font-weight: bold;
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-1 {
    position: absolute;
    transform: rotate(330deg);
    right: 29rem;
    top: 5rem;
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-1 .main-information-slogan-img-1 {
    width: 23.75rem;
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-2 {
    position: absolute;
    transform: rotate(360deg);
    top: 9rem;
    right: 24.5rem;
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-2 .main-information-slogan-img-2 {
    width: 31rem;
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-3 {
    position: absolute;
    top: 11.5rem;
    right: 33rem;
    width: 16rem;
    transform: rotate(350deg);
}

.wrapper .main .main-information .main-information-slogan .main-information-slogan-idea-3 h2 {
    font-family: 'Amatic SC', cursive;
    color: #016BA5;
    font-size: 3.7rem;
    text-align: center;
    font-weight: 700;
    line-height: 3.4rem;
}

.wrapper .main .main-information .main-information-dog {
    position: absolute;
    left: 62rem;
}

.wrapper .main .main-information .main-information-dog .main-information-dog-img {
    width: 26rem;
}

/*--------------------------------------*/

.wrapper .story {
    display: flex;
    justify-content: flex-end;
    background-color: #FFF;
    padding: 6rem 0 3rem 0;

}

.wrapper .story .story-title {
    width: 6.25rem;
    line-height: 3.5rem;
}

.wrapper .story .story-title h3 {
    font-family: 'Montserrat', sans-serif;
    color: #4C3135;
    font-size: 3rem;

}

.wrapper .story .story-title span {
    color: #00A4D6;
    font-size: 5.5rem;
    font-weight: bold;
}

.wrapper .story .story-paragraph p {
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: 6C6C6C;
    padding-bottom: 0.6rem;
    margin-left: 15rem;
}

.wrapper .story .story-paragraph a {
    color: #00A4D6;
    font-weight: bold;

}

.wrapper .story .story-img img {
    width: 16rem;
    margin: 0 6rem 0 2rem;
}

/*-----------------------------------*/

.wrapper .dog-atention img {
    position: absolute;
    top: 35rem;
    width: 25rem;
}

/*-----------------------------------*/

.wrapper .dog-atention-detail .dog-atention-detail-img {
    position: absolute;
    width: 10rem;
    transform: rotate(100deg);
    top: 60rem;
    left: 7rem;
}

/*-----------------------------------*/

.wrapper .food {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/chicken-background.png);
    background-size: cover;
    color: #FFF;
    padding: 4rem;
}

.wrapper .food h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    line-height: 1.5rem;
}

.wrapper .food h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 4.5rem;
}

.wrapper .food p {
    font-family: 'Montserrat', sans-serif;
    width: 43.75rem;
    text-align: center;
    margin-top: 2.5rem;
}

/*---------------------------------*/

.detail-dog .detail-dog-img {
    width: 5rem;
    position: absolute;
    top: 82.5rem;
    left: 71rem;
    transform: rotate(345deg);
}

/*----------------------------------------*/

.wrapper .description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.wrapper .description .description-itens {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: #4C3135;
}

.wrapper .description .description-itens h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.wrapper .description .description-itens p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.wrapper .description .description-itens button {
    width: 25%;
    padding: 1rem;
    border: none;
    background-color: #00a4d6;
    color: #FFF;
    cursor: pointer;
}

.wrapper .description .description-itens button:hover {
    background-color: #016BA5;

}

.wrapper .description .description-image img {
    width: 20rem;
}

/*------------------------------------*/

.wrapper .dog-jumping .dog-jumping-img {
    position: absolute;
    width: 15.5rem;
    top: 104rem;
    left: 33rem;
}

/*------------------------------------*/

.wrapper .search {
    display: flex;
    justify-content: space-between;
    background-color: #e6e4e4;
    padding: 5rem;
}

.wrapper .search .search-breeds h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.wrapper .search .search-breeds input {
    width: 100%;
    border: none;
    background-color: transparent;
    margin-bottom: 3rem;
    height: 2.5rem;
    padding-left: 1rem;
    border-bottom: solid 1px #6C6C6C;
}

.wrapper .search .search-breeds input::placeholder {
    font-size: 1.5rem;
}

/*------------------------------------*/

.search-breeds span {
    position: absolute;
    top: 120rem;
    left: 28rem;
}

.search-breeds span img {
    width: 1.5rem;
}

.wrapper .search .search-breeds button {
    width: 50%;
    padding: 1rem;
    border: none;
    background-color: #00a4d6;
    color: #FFF;
    cursor: pointer;
}

.wrapper .search .search-dogs h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.wrapper .search .search-dogs p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #6C6C6C;
    ;
    margin-bottom: 3rem;
    width: 28rem;
}

.wrapper .search .search-dogs button {
    width: 35%;
    padding: 1rem;
    border: none;
    background-color: #00a4d6;
    color: #FFF;
    cursor: pointer;
}

/*------------------------------------*/

.wrapper .products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem 5rem 5rem 5rem;
}

.wrapper .products .products-img img {
    width: 20rem;
}

.wrapper .products .products-itens h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.wrapper .products .products-itens p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    width: 650px;
}

.wrapper .products .products-itens button {
    width: 30%;
    padding: 1rem;
    border: none;
    background-color: #00a4d6;
    color: #FFF;
    cursor: pointer;
}


/*-----------------------*/

.wrapper .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/Layer.png);
    background-size: cover;
    margin: 2rem;


}


.wrapper .footer .footer-dog-informations img {
    width: 30rem;
}


.wrapper .footer .footer-social-media {
    display: flex;
}

.wrapper .footer .footer-social-media img {
    width: 2rem;
    margin: 0.3rem;
}